.page-title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-fill: #333;
}

/* Sidebar styles */
.sidebar-section {
    -fx-background-color: #f9f9f9; /* Light background for sidebar sections */
    -fx-padding: 10px;
    -fx-border-color: #e2e2e2; /* Border color for separation */
    -fx-border-width: 0 0 1 0; /* Bottom border */
}

.sidebar-section > .label {
    -fx-font-weight: bold;
    -fx-text-fill: #333; /* Dark text color for section titles */
}

/* Adjustments to TextField for search bar */
.text-field {
    -fx-pref-width: 200px; /* Fixed width for search bar */
    -fx-pref-height: 30px; /* Height for search bar */
}

/* You can add more styles for buttons, labels, list views, etc. */
.article-container {
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-border-color: #f0f0f0;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
}

.title-label {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: Arial;
    -fx-text-fill: black;
}

.price-label {
    -fx-font-size: 14px;
}

.add-to-cart-button, .view-more-button {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.add-to-cart-button:hover, .view-more-button:hover {
    -fx-background-color: #e0e0e0;
}

